<p id="notice"><%= notice %></p>

<p>
  <b>Floor:</b>
  <%= @r_table.floor_id %>
</p>

<p>
  <b>X position:</b>
  <%= @r_table.x_position %>
</p>

<p>
  <b>Y position:</b>
  <%= @r_table.y_position %>
</p>

<p>
  <b>Name:</b>
  <%= @r_table.name %>
</p>


<%= link_to 'Edit', edit_r_table_path(@r_table) %> |
<%= link_to 'Back', r_tables_path %>
