#main{:style => "width:80%;margin:auto"}
  #accordion
    %h3 
      %a="#{@floor.name}"
    /#tablebox
    %div
      #tablebox
        - @rtables.each do |r|
          .rtable{:style => "top:#{r.x_position}px;left:#{r.y_position}px",:id => "#{ r.active_ticket ? 't' + r.id.to_s + '-ticket-' + r.active_ticket.id.to_s : 't' + r.id.to_s}",:class => "#{ r.active_ticket ? 'occupied' : '' }" }
            =r.name
    %h3 
      %a billview
    #bill
      #ticket
        #searchbox
          =text_field_tag "search"
        .billbox
          -@rtables.each do |rt|
            - ticket = rt.active_ticket
            - if ticket
              %table{:id => "rt#{ticket.id.to_s}", :style => "display:none"}
                -ticket.ticket_lines.includes(:product).each do |tl|
                  %tr
                    %td
                      = tl.product.name
                    %td
                      = tl.product.sell_price.to_s
                    %td
                      ="x" + tl.qty.to_s
                    %td
                      =tl.product.sell_price * tl.qty

        .clear
        %hr
        #total.right
          %table
            %tr
              %td
                subtotal
              %td 100
            %tr
              %td 
                discount
              %td 0
            %tr
              %td 
                taxes
              %td 0
            %tr
              %td 
                total
              %td Rs. 200
        #customerbox
          =text_field_tag "Customer name"
          %a.button
            submit
        .clear
        %hr
        #buttonbox
          %ul
            %li
              %a.button
                pay
            %li
              %a.button
                print
            %li
              %a.button
                void

      = select_tag "categories", options_from_collection_for_select(@categories,:id,:name), :multiple => :true
      #productbox
        -@categories.each do |c|
          .catprod{:id => "cp#{c.id}", :style => "#{(c.id != 1)? 'display:none' : ''}"}
            - c.products.each do |p|
              .button
                .product{:id => "p#{p.id}"}
                  =p.name
      .clear
    
= form_for @ticket, :remote => :true do |f|
  = f.hidden_field :r_table_id
= form_for @ticket_line,:remote => :true do |f|
  = f.hidden_field :ticket_id
  = f.hidden_field :product_id
  = f.hidden_field :qty


