#main{:style => "width:80%;margin:auto"}
  #accordion
    %h3 
      %a="#{@floor.name}"
    /#tablebox
    %div
      #tablebox
        - @rtables.each do |r|
          .rtable{:style => "top:#{r.x_position}px;left:#{r.y_position}px",:id => "#{ r.active_ticket ? 't' + r.id.to_s + '-ticket-' + r.active_ticket.id.to_s : 't' + r.id.to_s}",:class => "#{ r.active_ticket ? 'occupied' : '' }" }
            =r.name
    %h3.billview
      %a Bill 
    #bill
      #billbutton
        %a.button#addItem
          %span.ui-icon.ui-icon-plusthick
        %br
        %a.button#subItem
          %span.ui-icon.ui-icon-minusthick
        %br
        %a.button#delItem
          %span.ui-icon.ui-icon-closethick

        
      #ticketbox
        #searchbox
          =text_field_tag "search"
        .tickets
          -@rtables.each do |rt|
            - ticket = rt.active_ticket
            - if ticket
              = render :partial => "tickets/ticket", :locals => {:ticket => ticket}
        .clear
        %hr
        #buttonbox
          %ul
            %li
              %a#pay.button
                pay
            %li
              %a#print.button
                print
            %li
              %a#void.button
                void


      = select_tag "categories", options_from_collection_for_select(@categories,:id,:name), :multiple => :true
      #productbox
        -@categories.each do |c|
          .catprod{:id => "cp#{c.id}", :style => "#{(c.id != 1)? 'display:none' : ''}"}
            - c.products.each do |p|
              .button
                .product{:id => "p#{p.code}"}
                  =p.name
      .clear
    
= form_for @ticket, :remote => :true do |f|
  = f.hidden_field :r_table_id
= form_for @ticket_line,:remote => :true do |f|
  = f.hidden_field :ticket_id
  = hidden_field_tag :code
  = f.hidden_field :qty
= form_tag "/update_ticket_lines", :method => :put, :id => :update_ticket_lines do
  =hidden_field_tag :action_for_ticket
  =hidden_field_tag :ticket_line_ids

#pay_dialog{:title => "Pay Bill", :style => "display:none;"}
  =form_for @payment, :remote => true do |f|
    =f.select :payment_method_id, options_from_collection_for_select(@payment_methods, :id, :name,2)
    #given_cash
      =text_field_tag :given_amount
      %br
      =label_tag "change_amount:"
      %span#change_amount
      %br
      =label_tag "total_remaining:"
      %span#total_remaining
      =f.hidden_field :amount
    #other_amount{:style => "display:none"}
      =f.text_field :amount
    =f.hidden_field :owner_id
    =f.hidden_field :owner_type
    =f.submit "add"
  #payments_holder     
    -@rtables.each do |rt|
      - ticket = rt.active_ticket
      - if ticket 
        = render :partial => "payments/payments", :locals => {:ticket => ticket}

  



#void_dialog{:title => "Void Bill", :style => "display:none;"}
  =form_for :ticket,:url => '/tickets', :html =>{ :method => :put, :id => "update_ticket", } , :remote => true do |f|
    =f.hidden_field :status
    Notes:
    =f.text_area :notes

:javascript
  $(function(){
    $('#search').autocomplete({
      source: #{@products.to_json},
      select: function(event,ui){
        getcode = ui.item.value.match(/^\d+/);
        $('#ticket_line_ticket_id').val($('.ticket:visible').attr('id').match(/\d+/)[0]);
        $('#code').val(getcode[0]);
        $('#ticket_line_qty').val(1);
        $.rails.handleRemote($('#new_ticket_line'));
      },
      close: function(event,ui){
        $('#search').val('');
      }
    });
  });

