!!!
%html
  %head
    %title Restaurant
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #header
      %h1 Restaurant on Rails
      %ul#tabs
        %li{:class => "#{current_page?(root_url)?'current':''}"}
          %a{:href => "/"} Home
        %li{:class => "#{current_page?(close_cash_url)?'current':''}"}
          %a{:href => "/home/close_cash"} Close Cash
        %li
          %a{:href => "/admin"} Admin
      %p#utility_nav
        - if current_user
          =current_user.email
          =link_to "Logout","/users/sign_out", :method => :delete
      :javascript 
        $(function(){
          var error="";
          error= "#{ flash[:notice].nil? ? '' :  escape_javascript(flash[:notice]) }";
          if(error != ""){
            alert(error);
          }
        });
        
    #wrapper
      #main{:style => "width:80%;margin:auto"}
        = yield
